// Menu Button
.menu-btn {
    position: absolute;
    z-index: 4;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;

        // &:hover {
        //     color: rgb(5, 211, 98);
        // }


        &:nth-child(4) {
            opacity: 0;
        }
    }

    // Rotate Into X with menu lines
    &.close {
        transform: rotate(540deg);
        top: 24px;
        right: 30px;

        .btn-line {

            // line 1 - rotate
            &:nth-child(1) {
                // background: red;
                transform: rotate(90deg) translate(5px, 8px);
                ;
            }

            // line 2 hide
            &:nth-child(2) {
                transform: rotate(0deg) translate(6px, 10px);
                // background: red;
                // transform: rotate(45deg) translate(5px, 5px);
                // opacity: 0;
            }

            // line 3 rotate
            &:nth-child(3) {
                // background: red;
                transform: rotate(-90deg) translate(11px, 20px);
            }

            // hidden line 4

            &:nth-child(4) {
                // background: red;
                transform: rotate(0deg) translate(6px, -32px);
                opacity: 1;
            }

        }
    }
}

// animated Menu overlay

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show {
        visibility: visible; // when button is clicked the menu is visible
    }

    // &- works instead of .menu-branding
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden; // gets rid of scroll bars
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 6);
        list-style: none; // no bullet points
        // https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translate3d ... translate3d docs
        transform: translate3d(0, -100%, 0); // have darker overlay come in from top (overlay with links).
        @include easeOut;

        &.show {
            //slide in from top
            transform: translate3d(0, 0, 0);
        }
    }

    // branding side
    &-branding {
        background: $primary-color;
        @include easeOut;
        transform: translate3d(0, 100%, 0);

        &.show {
            //slide in from bottom
            transform: translate3d(0, 0, 0);
        }

        .my-image {
            // padding: 0.2rem 1rem;
            // opacity: 1;
            width: 400px;
            height: 400px;
            background: url(../images/me-adams-BW-smallsized.jpg);
            background-size: cover;
            border-radius: 10%;
            border: solid 3px $border-color;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show {
            //slide in from the right
            transform: translate3d(0, 0, 0);
        }

        // color link
        &.current>a {
            color: $secondary-color;
        }

    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        // &:hover {
        //     color: $secondary-color;
        // }
        &:hover {
            color: rgb(4, 197, 91);
        }

    }
}

// delay the nav item slides by .1s using this new (to me) syntax for a for loop
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }

    // avoids errors
}