// wide screens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }

    .my-image {
        width: -webkit-fill-available;
    }
}

// Desktops / Laps
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .my-image {
        width: -webkit-fill-available;
    }
}

// Tablets / sm laps
@include mediaMd {

    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .my-image {
            width: -webkit-fill-available;
            background: url(../images/me-adams-BW-smallest.jpg);
            background-repeat: no-repeat;
            // background-size: cover;
            width: 200px;
            height: 200px;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';
        grid-template-columns: 1fr; // was 3 fr but want them stacked 
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// phones
@include mediaSm {


    .projects {
        grid-template-columns: 1fr;
    }

    main#home h1 {
        margin-top: 10vh;
    }
}